{% extends 'base.html' %}

{% block page_title %}
{% endblock %}

{% block style_css%}
<style>
.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
</style>
{% endblock%}

{% block page_body %}
{% comment %} <br> {% endcomment %}
<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
{% for blog in posts%}
        <a href="{%url 'post-detail' blog.slug %}" style="text-decoration:none;">
        <div class="col">
          <div class="card h-100">
            <img src={{blog.image.url}} class="card-img-top" alt={{blog.title}} " >
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        </a>
{% endfor %}
</div>
{% endblock %}